.directory-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-container{
    background-color: rgb(215,214,214);
    width: 80%;
    height: 80%;
    border-radius: 12px;
    box-shadow:5px -5px 10px rgba(0,0,0,0.3),0 5px 10px rgba(0,0,0,0.3);     
}

.content-list-container{
    width: 100%;
    height: 30%;
    padding-left: 10%;
    padding-top: 7%;
}

.content-list{
    list-style-type: disc; 
    padding-left: 20px;   
}

.content-item{
    display: list-item;      
    margin-bottom: 4px;  
    list-style-position: inside; 
}

.content-item:hover{
    box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, 0.25);
}

.chatbot-container{
    width: 100%;
    height: 70%;
}
