.directory-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-container{
    background-color:rgb(54, 69, 79);
    width: 100%;
    height: 100%;
    box-shadow:5px -5px 10px rgba(0,0,0,0.3),0 5px 10px rgba(0,0,0,0.3);     
}

.content-list-container{
    width: 100%;
    height: 30%;
    padding-left: 10%;
    padding-top: 7%;
}

.content-list{
    list-style-type: disc; 
    padding-left: 20px;   
}

.content-item{
    display: list-item;      
    margin-bottom: 4px;  
    list-style-position: inside; 
}

.chatbot-container{
    width: 100%;
    height: 70%;
}

.page-button {
  display: inline-block;
  color: orange;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: x-large;
}

.page-button:hover {
  box-shadow: 0px 4px 10px -6px rgba(0, 0, 0, .5);
}
