html, body, div {
    height: 100%;
    margin: 0;
    padding: 0;
}


.page-container {
    min-height: 100vh; /* ensures container covers entire viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-body {
    width: 100%;
    flex: 1;
    overflow: auto;
    display: flex;
}