html, body, div {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-body {
    width: 100%;
    flex: 1;
    overflow: auto;
    display: flex;
    z-index: 0;
}

.mouse-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
.main-body {
  position: relative;
}


