.page-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content-container{
    background-color: rgb(215,214,214);
    width: 90%;
    height: 90%;
    border-radius: 12px;
}

.page-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.page-header-content{
    padding-top: 5%;
}

.page-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.page-body-content{
    padding: 8%;
}

.page-body-desc{
    transition: opacity .5s;
}