html, body, div {
    height: 100%;
    margin: 0;
    padding: 0;
}


.page-container {
    min-height: 100vh; /* ensures container covers entire viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
}


.main-header {
    height: 15%; /* fixed header */
    width: 100%;
    background-color: black;
    box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.2);
}


.main-body {
    width: 100%;
    flex: 1; /* expands naturally as content grows */
    overflow: auto;
}